/* Default DevCorner Style Setting */

:root{
  --dc-: #28a745;
  --gr-: #515151;
  --wh-: #fefefe;
  --sg-: #f7f7f7;
  --lg-: #edede8;
  --shadow-: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  --ts-: 2px 5px 2px rgba(33,33,33,0.25);
}

.fa-code{
  color: var(--dc-);
}

button::-webkit-focus-inner{
  border: 0;
}
button::-moz-focus-inner{
  border: 0;
}
button::-o-focus-inner{
  border: 0;
}
button::-ms-focus-inner{
  border: 0;
}

a:link{
  text-decoration: none;
  outline: none;
  color: var(--dc-);
}

.clear{
  background: var(--wh-);
  padding: 2px 4px;
  border: 1px solid var(--dc-);
  border-radius: 5px;
  font-size: 16px;
  font-weight: 400;
}

.clear:hover{
  color: var(--wh-);
  background: var(--dc-);
}

.center{
  width: 50%;
  margin: 15vh auto 10vh auto;
  text-align: center;
}

.center p:last-child{
  margin: 1em auto 2em;
  font-family: Roboto;
  font-size: 1.2em;
  color: var(--dc-);
  background: rgba(255,255,255,0.8);
  width: 300px;
  padding: 0.5em 1em;
  border-radius: 1em;
}

.brand{
  color: var(--gr-);
  font-family: Roboto;
  font-size: 3em;
  text-shadow: var(--ts-);
  margin: 0 auto;
  padding: 0;
}

.slogan{
  color: var(--gr-);
  font-family: Roboto;
  font-size: 1.2em;
  text-shadow: var(--ts-);
  margin: 0 auto;
  padding: 0;
}

.container{
  display: flex;
  column-gap: 40px;
  width: 70vw;
  margin: 0 auto;
  padding: 0;
}

.container > div{
  margin: 0 auto;
  padding: 0;
}

body{
  background: url(../img/img_05.jpeg) no-repeat 50% 50%;
  background-size: cover;
  background-attachment: fixed;
  font-family: Roboto;
}
}

.custom-file-container {
 box-sizing:border-box;
 position:relative;
 display:block;
}

.custom-file-container label:first-child{
  font-size: 1.2em;
  color: var(--gr-);
  margin-left: 2px;
}

.custom-file-container__custom-file {
 box-sizing:border-box;
 position:relative;
 display:inline-block;
 width:100%;
 height:calc(2.25rem + 2px);
 margin-bottom:0;
 margin-top:5px;
}
.custom-file-container__custom-file:hover {
 cursor:pointer;
}
.custom-file-container__custom-file__custom-file-input {
 box-sizing:border-box;
 min-width:14rem;
 max-width:100%;
 height:calc(2.25rem + 2px);
 margin:0;
 opacity:0;
}
.custom-file-container__custom-file__custom-file-input:focus~span {
 outline: none;
}
.custom-file-container__custom-file__custom-file-control {
 box-sizing:border-box;
 position:absolute;
 top:0;
 right:0;
 left:0;
 z-index:1;
 height:calc(2.25rem + 2px);
 padding:.5rem .75rem;
 overflow:hidden;
 line-height:1.25;
 color:#333;
 user-select:none;
 background-color:#fff;
 background-clip:padding-box;
 border:1px solid #c0c0af;
 border-radius:.25rem;
}
.custom-file-container__custom-file__custom-file-control__button {
 position:absolute;
 top:0;
 right:0;
 z-index:2;
 display:block;
 height:calc(2.25rem + 2px);
 padding:.5rem .75rem;
 line-height:1.25;
 color: var(--wh-);
 background: var(--dc-);
 border-left:1px solid #c0c0af;
 box-sizing:border-box;
}
.custom-file-container__image-preview {
 margin-top:20px;
 margin-bottom:40px;
 height:250px;
 width:100%;
 border-radius: 5px;
  border: 2px solid var(--dc-);
 background-color: #e3e3e3;
 overflow:scroll;
 box-shadow: var(--shadow-);
}
.custom-file-container__image-multi-preview,
.custom-file-container__image-preview {
 box-sizing:border-box;
 transition:all .2s ease;
 background-size:cover;
 background-position:50%;
 background-repeat:no-repeat;
}
.custom-file-container__image-multi-preview {
 position:relative;
 border-radius:6px;
 float:left;
 margin:1.858736059%;
 width:29.615861214%;
 height:90px;
}
.custom-file-container__image-multi-preview__single-image-clear {
 left:-6px;
 background: var(--wh-);
 color: var(--dc-);
 position:absolute;
 width:20px;
 height:20px;
 border-radius:20%;
 text-align:center;
 margin-top:-6px;
 border: 1px solid var(--dc-);
}
.custom-file-container__image-multi-preview__single-image-clear:hover {
 background:var(--dc-);
 color: var(--wh-);
 cursor:pointer;
}
.custom-file-container__image-multi-preview__single-image-clear__icon {
 display:block;
 margin-left:1px;
}



















/* End */
